
<div>
  <h3 class="text-center">Pic requests:</h3>
  <div id="map-canvas">
    <google-map center="requests.map.center" zoom="requests.map.zoom" draggable="true" pan="false"></google-map>
  </div>
</div>
