<div ng-hide="requests.requestsShow">
  <h1 class="text-center">CURRENT PICNIQS</h1>
  <br>  
  <div class="map-container-large col-xs-9">
    <div id="map-canvas"></div>  
    <div class="map-footer"></div>
  </div>
  <div class="col-xs-3 request-sidebar text-center">
    <br>
    <div>
      <!-- <img src="powered-by-google-on-white.png" alt="google logo"> -->
      <input type="text" id="searchTextField" class="form-control" ng-model="address" autofocus>
      <br>
    </div>
    <h3 ng-hide="requests.markerPlace">{{requests.titleText}}</h3>
    <button ng-hide="requests.markerPlace" ng-click="requests.markerPlaceMode()" type="button" class="btn btn-lg btn-primary btn-side">New Picniq!</button>
    <div ng-show="requests.markerPlace">
    <h3>{{requests.markerText}}</h3>
      <button ng-click="requests.cancelMarkerPlace()" class="btn btn-lg btn-primary btn-side">Cancel Marker</button>
      <br>
      <br>
      
    </div>
    <br>
    <div role="form" ng-show="showRequest">
      <form action="javascript:void(0)" ng-submit="requests.createRequest(newRequest)">
        <input type="text" ng-model="newRequest.title" class="form-control" placeholder="Title" autofocus required>
        <textarea class="form-control" ng-model="newRequest.description" rows="4" placeholder="Description... ex: Take a photo of the large tree to the northwest" required></textarea>
        <input type="submit" value="Create Request!" class="btn btn-primary form-control">
      </form>
    </div>
  </div>
  <br>
</div>
