/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

body {
  background-color: #002B42;
  color: #AFD1DB;
  /*font-family: 'Carrois Gothic SC', sans-serif;*/
  font-family: 'Montserrat', sans-serif;
}

.jumbotron {
  /*border: 2px solid #DA932C;*/
  background-color: #1D608E;
}

.title-header {
  font-size: 60;
}

h1 {
  font-size: 60;
}

.navbar-inverse .navbar-brand {
  color: #AFD1DB;
}

.navbar-inverse .navbar-nav>li>a {
  color: #AFD1DB;
}

.navbar {

}

p {
  font-size: 16px;
}

.max-width {
  width: 100%;
}

.navbar {
  background-color: #1D608E;
  border: none;
  /*border-bottom: 2px solid #DA932C;*/
  /*border: none;*/
  color: #AFD1DB;
}

a {
  color: #AFD1DB;
}

.spacer {
  height: 50px;
}

.hideButton {
  background-color: rgba(0,0,0,0);
  border: none;
}

img {
  max-width: 100%;
  height: auto;
  border: 3px solid #8F5100;
  border-radius: 8px;
}

textarea {
  resize: none;
}

::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-style: italic;
}

:-ms-input-placeholder {  
   font-style: italic;
}

.btn-side {
  display: inline-block;
}

.site-button {
  width: 100;
  margin: 5px;
}

.map-container-large {
  height: 500px;
}

.map-container-small {
  height: 250px;
}

.map-footer {
  height: 150px;
}

.request-sidebar {
  border: 3px solid #DA932C;
  height: 500px;
}

#map-canvas {
  border-radius: 8px;
  border: 3px solid #DA932C;
  height: 100%;
  width: 100%;
  
}

.inline-block {
  display: inline-block;
}

.photos {
  height: 145px;
  width: 200px;
}

.footSpacer {
  height: 100px;
}

.navButton {
  opacity: 0;
}